#contenedor{
    position: relative;
    top: 27%;
    left: 0%;
    width: 405px;
    height: 525px;
    border: 1px dashed  royalblue;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    padding: 5px;
}

#galeria{
    width: 394px;
    height: 512px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    overflow:hidden;
}
