#contenedor{
    position: relative;
    top: 27%;
    left: 0%;
    width: 390px;
    height: 380px;
    border: 1px dashed  royalblue;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    padding: 5px;
}

#galeria{
    width: 380px;
    height: 370px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    overflow:hidden;
}
